.logon{
    background-image: url('https://images.hdqwalls.com/wallpapers/disney-raya-and-the-last-dragon-bo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}