.logon{
    background-image: url('https://images.hdqwalls.com/download/the-lion-king-2019-tc-1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    opacity: 0.8;
}